/* Main Body */
body {
  height: 100vh;
  font-size: 15px;
  font-family: Helvetica, serif;
  margin: 0;
  background-color: lavender;
}

h4 {
    text-decoration: underline;
    font-size: 1.1em;
}

/* NAVBAR */
nav > ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
nav {
  padding: 0 0.8em;
  text-decoration: none;
  background-color: #011844;
  height: 3em;
  font-family: "Lato", sans-serif;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: whitesmoke;
  display: flexbox;
}
.nav-list {
  margin: 1em;
  font-size: 1.2em;

  display: flex;
  justify-content: flex-end;
}

/* HERO IMAGE */
header.hero-image {
  background-image: url(/images/Crowd.jpg);
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 9%;
}
.hero-text {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; 
  align-self: center;
}
.hero-text > p {
    font-size: 1.4em;
    margin-top: 0;
}

/* IMAGE W/ QUOTE */
.toastmaster-img {
    width: 100%;   
    height: 35em;
    background-image: url(../images/Big_Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;  
}

#quote {
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    width: 40%;
    color: white;
    font-size: 2rem;
}

/* CARDS */
.card-info {
    text-align: center;
    height: 340px;
    margin: 3em;
    border-radius: 30px;
    margin-bottom: 10em;

    display: flex;
    justify-content: space-around;
}

.flip-card-front > img {
    margin-bottom: 1em;
    border-radius: 1em;
}
.card-container > ul{
    list-style: none;
}
.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/* VIDEO LINK W/ COMMENTS */
#ted-talk {
    padding: 2em 0;
}
